button{
    background-color: rgb(58, 146, 204);
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white
}
button:hover{
    background-color: rgb(71, 117, 216);
    cursor: pointer;
}